apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: monitoring
type: Opaque
stringData:
  admin-user: "{{ zivo_secrets.GRAFANA_ADMIN_USER }}"
  admin-password: "{{ zivo_secrets.GRAFANA_ADMIN_PASSWORD }}"
